<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Profile</title>
    <link href="./css/bootstrap.min.css" rel="stylesheet" />
    <link href="./css/style.css" rel="stylesheet" />
  </head>
  <body>
    <div id="particles-js"></div>
    <div
      class="container d-flex flex-column justify-content-center align-items-center min-vh-100 gap-2"
    >
      <div class="popup-container">
        <h2>Are you sure you want to lock the wallet?</h2>
        <button class="yes-button" onclick="handleYes()">Yes</button>
        <button class="no-button" onclick="handleNo()">No</button>
      </div>
    </div>
    <script src="welcome.bundle.js"></script>
    <script src="./js/bootstrap.bundle.min.js"></script>

<script>
    function handleYes() {
        alert("You clicked Yes!");
    }

    function handleNo() {
        alert("You clicked No!");
    }
</script>
  </body>
</html>
