<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Approve Request</title>
  <link href="./css/bootstrap.min.css" rel="stylesheet">
  <link href="./css/style.css" rel="stylesheet" />
  <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
    />
</head>
<body style="overflow: hidden;">
    <div class="p-4 bg-color border-0" style="height: 100vh;">
      <nav class="navbar navbar-expand-lg">
          <div>
            <i class="fa-duotone fa-solid fa-user user-icon"></i>
            <span id="username" class="f-14 fw-600">Username</span>
          </div>
      </nav>
    <div class="wallet-info mt-3">
      <div class="text-center">
        <i class="fas fa-horse-head user-icon"></i>
      </div>
      <div>
        <p class="font-regular f-24 mb-0 mt-3 text-center" id="site-url"> </p>
        <p class="f-14 dark-black mt-2 text-center" id="site-description">
            Do you trust this site? By granting this permission, you're allowing https://app.uniswap.org to withdraw your YAM and automate transaction for you.
        </p>
      </div>
      <div class="my-4">
        <span class="d-flex justify-content-between">
          <h5>To</h5>
          <div>
          <span id="to-address" style="color: rgba(0, 194, 255, 1); cursor: pointer;">_____</span>
          <span class="copy-message" style="display: none;">Copied!</span></div>
        </span>
        <span class="d-flex justify-content-between">
          <h5>Amount</h5>
          <span id="transaction-amount">AED 0.0000</span>
        </span>
      </div>
      <div class="d-flex w-100">
        <button type="button" class="btn btn-dark w-50 f-14 border-color text-white reject-button">Cancel</button>
        <button type="button" class="btn w-50 ms-2 yes-btn dark-blue-gradient text-white border-0 f-14 approve-button">Approve</button>
      </div>
    </div> 
    </div>
  
    <!-- Include the popup script -->
    <script src="./js/bootstrap.bundle.min.js"></script>
</body>
</html>
