<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Transitions</title>
    <link href="./css/bootstrap.min.css" rel="stylesheet" />
    <link href="./css/style.css" rel="stylesheet" />
    <link
        href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900&display=swap"
        rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" />
    <style>
        /* Custom styling for the activity loader */
        #activities-loader {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            margin-top: 20px;
        }

        #activities-loader .spinner-border {
            margin-bottom: 10px;
        }
        
    </style>
</head>

<body>
    <div class="container-fluid p-0">
        <div class="row g-0">
            <div class="col-lg-2 col-12">
                <div class="sidebar sticky-lg-top min-vh-100 custom-border-color">
                    <div class="row g-0">
                        <div class="col-lg-12 col-12">
                            <a class="navbar-brand m-0">
                                <img src="./icons/logo-dark.svg" class="img-fluid logo" />
                            </a>
                            <hr class="custom-border-color">
                            <ul class="nav flex-column siderbar-nav">
                                <li class="nav-item">
                                    <a class="nav-link active" aria-current="page" href="#">
                                        <div>
                                            <img src="./icons/dashboard-icon.svg" alt="" class="img-fluid me-2">
                                            Dashboard
                                        </div>
                                        <div>
                                            <img src="./icons/menu-active-arrow.svg" alt="" class="img-fluid">
                                        </div>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">
                                        <div>
                                            <img src="./icons/transitions-icon.svg" alt="" class="img-fluid me-2">
                                            Transaction
                                        </div>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">
                                        <div>
                                            <img src="./icons/connected-sites-icon.svg" alt="" class="img-fluid me-2">
                                            Connected Sites
                                        </div>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">
                                        <div>
                                            <img src="./icons/settings-icon.svg" alt="" class="img-fluid me-2">
                                            Settings
                                        </div>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">
                                        <div>
                                            <img src="./icons/help-icon.svg" alt="" class="img-fluid me-2">
                                            Help
                                        </div>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-10 col-12">
                <nav class="navbar navbar-expand-sm header custom-border-color">
                    <div class="container-fluid z-2">
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav me-auto me-auto mb-2 mb-sm-0">
                                <li class="nav-item">

                                </li>
                            </ul>
                            <div>
                                <div class="card border border-dashed rounded me-3 p-0 bg-transparent text-white">
                                    <div class="card-body p-2">
                                        <div class="d-flex align-items-center">
                                            <div class="ms-2">
                                                <storng class="font-16">Wallet ID</storng>
                                                <span
                                                    class="ms-3 font-14 text-gray-600 text-truncate">stru23421fwewri554...</span>
                                            </div>
                                            <div class="ms-5">
                                                <a href="">
                                                    <img src="./icons/copy-icon.svg" alt="" class="img-fluid">
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="d-flex align-items-center right-nav ps-4">
                                <div class="dropdown">
                                    <i class="fa-duotone fa-solid fa-user user-icon"></i>
                                    <button class="btn text-white ps-1 border-0" type="button" id="dropdownMenuButton1"
                                        data-bs-toggle="dropdown" aria-expanded="false">
                                        <div class="d-flex">
                                            <div class="text-start">
                                                <p id="username" class="f-14 mb-0">Username</p>
                                                <span class="font-12 text-color-cs">username@gmail.com</span>
                                            </div>
                                            <i class="fas fa-chevron-down ms-2 mt-2" style="font-size: 10px;"></i>
                                        </div>
                                    </button>
                                    <ul class="dropdown-menu ms-4" aria-labelledby="dropdownMenuButton1">
                                        <li>
                                            <button class="dropdown-item btn text-white font-14" data-bs-toggle="modal"
                                                data-bs-target="#exampleModal" id="lock-wallet-btn">
                                                <i class="fa-solid fa-lock ms-auto me-2"></i>Logout
                                            </button>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </nav>
                <div class="main-container p-4">
                    <!--begin::Row-->
                    <div class="row g-3">
                        <div class="col-12">
                            <!-- Heading -->
                            <h1 class="text-white mb-3 text-start font-24 font-regular">Connected Sites</h1>
                            <div class="d-flex justify-content-end align-items-center mb-1">
                                <button class="btn text-color-cs font-14 ms-4">Forget All Sites</button>
                                <div class="mx-1 custom-btn" style="height: 20px;"></div>
                                <button class="btn text-color-cs font-14 me-4">Disconnect All Sites</button>
                            </div>
                            <div class="d-flex flex-column">
                                <div class="w-100 mb-4">
                                    <div class="dropdown dropdown-menu-end w-100">
                                        <a class="btn btn-transparent custom-btn dropdown-toggle py-3 font-14 w-100 d-flex justify-content-between align-items-center"
                                            type="button" id="dropdownMenuButton2" data-bs-toggle="dropdown"
                                            aria-expanded="false">
                                            <div class="d-flex align-items-center">
                                                <img src="./icons/home.png" alt="" class="img-fluid me-2">
                                                <span class="mx-4">Warehouse Management</span>
                                                <span class="text-color-cs">warehouse.finloge.com</span>
                                            </div>
                                            <i class="fas fa-chevron-down me-3 text-color-cs-drop f-16"></i>
                                        </a>
                                        <ul class="dropdown-menu ms-4" aria-labelledby="dropdownMenuButton2">
                                            <li>
                                                <button class="dropdown-item btn btn-transparent text-color-cs"
                                                    data-bs-target="#dropdownMenuButton2">
                                                    Forgot All Sites
                                                </button>
                                            </li>
                                            <li>
                                                <button class="dropdown-item btn btn-transparent text-color-cs"
                                                    data-bs-target="#dropdownMenuButton2">
                                                    Disconnect All Sites
                                                </button>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="w-100 mb-5">
                                    <div class="dropdown dropdown-menu-end w-100">
                                        <a class="btn btn-transparent custom-btn dropdown-toggle py-3 font-14 w-100 d-flex justify-content-between align-items-center"
                                            type="button" id="dropdownMenuButton3" data-bs-toggle="dropdown"
                                            aria-expanded="false">
                                            <div class="d-flex align-items-center">
                                                <img src="./icons/List.png" alt="" class="img-fluid me-2">
                                                <span class="mx-4">Declaration Management</span>
                                                <span class="text-color-cs">declaration.finloge.com</span>
                                            </div>
                                            <i class="fas fa-chevron-down me-3 text-color-cs-drop f-16"></i>
                                        </a>
                                        <ul class="dropdown-menu ms-4" aria-labelledby="dropdownMenuButton3">
                                            <li>
                                                <button class="dropdown-item btn btn-transparent text-color-cs"
                                                    data-bs-target="#dropdownMenuButton3">
                                                    Forgot Site
                                                </button>
                                            </li>
                                            <li>
                                                <button class="dropdown-item btn btn-transparent text-color-cs"
                                                    data-bs-target="#dropdownMenuButton3">
                                                    Disconnect All
                                                </button>
                                            </li>
                                            <li>
                                                <button class="dropdown-item btn btn-transparent text-color-cs"
                                                    data-bs-target="#dropdownMenuButton3">
                                                    Connect All
                                                </button>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--end::Row-->
                </div>
            </div>
        </div>

        <!-- End Admin Panel -->
        <div class="container-fluid p-0">
        </div>
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content popup-modal p-4">
                    <div class="modal-body text-center text-white pb-0">
                        <div class="font-24">Confirm Logout</div>
                        <p class="dark-black pt-2 font-16">
                            Are you sure you want to logout?
                        </p>
                    </div>
                    <div class="modal-footer justify-content-between border-0">
                        <div class="d-flex w-100">
                            <button type="button" class="btn btn-dark w-50 f-14 border-color text-white"
                                data-bs-dismiss="modal">
                                No
                            </button>
                            <button type="button"
                                class="btn w-50 ms-2 yes-btn dark-blue-gradient text-white border-0 f-14">
                                Yes
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- <script src="profile.bundle.js"></script> -->
        <script src="./js/bootstrap.bundle.min.js"></script>
</body>

</html>