<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Help</title>
    <link href="./css/bootstrap.min.css" rel="stylesheet" />
    <link id="theme-stylesheet" href="./css/style.css" rel="stylesheet" />
    <link
        href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900&display=swap"
        rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" />
    <script src="./js/bootstrap.bundle.min.js"></script>
</head>

<body>
    <div id="full-screen-loader" style="display: none;">
        <div class="spinner-border text-light" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
    </div>
    <div class="container-fluid p-0">
        <div class="row g-0">
            <div class="col-lg-2 col-12" id="sidebar-container">
            </div>
            <div class="col-lg-10 col-12">
                <div id="navbar-container"></div>
                <div class="main-container p-4">
                    <!--begin::Row-->
                    <div class="row g-3">
                        <div class="col-12">
                            <!-- Heading -->
                            <h1 class="text-white text-white-light mb-3 text-start font-24 font-regular">Help</h1>
                            <!-- Query-start -->
                            <div class="p-3">
                                <h1 class="text-white text-white-light text-start font-20 font-regular">
                                    Ask if you have any query!!
                                </h1>
                                <div class="position-relative mt-3">
                                    <textarea
                                        class="form-control custom-border-color bg-dark-custom rounded-3 text-white text-white-light text-wrap p-4"
                                        rows="1" id="queryInput"></textarea>
                                    <button id="submitBtn"
                                        class="btn btn-primary position-absolute end-0 top-50 translate-middle-y me-4"
                                        style="background-color: #4485B7;" data-bs-toggle="modal"
                                        data-bs-target="#exampleModal2">
                                        Submit
                                    </button>
                                </div>
                            </div>
                            <!-- Query-end -->
                            <!-- FAQ - Starts -->
                            <div class="p-3">
                                <h1 class="text-white text-white-light text-start font-20 font-regular">
                                    FAQ
                                </h1>
                                <div class="accordion mt-3" id="customAccordion">
                                    <div class="accordion-item rounded-0">
                                        <h2 class="accordion-header">
                                            <button
                                                class="accordion-button bg-dark-custom text-light text-white-light rounded-0 border-0 collapsed"
                                                type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne"
                                                aria-expanded="true" aria-controls="collapseOne">
                                                1. Is my wallet secure.?
                                            </button>

                                        </h2>
                                        <div id="collapseOne"
                                            class="accordion-collapse collapse bg-dark-custom text-light text-white-light">
                                            <div class="accordion-body">
                                               Dubai Customs Wallet extensions use advanced encryption to secure your private keys locally on your device. Always use a strong password.
                                            </div>
                                        </div>
                                    </div>
                                    <div class="accordion-item mt-3">
                                        <h2 class="accordion-header">
                                            <button
                                                class="accordion-button bg-dark-custom text-light text-white-light collapsed rounded-0 border-0"
                                                type="button" data-bs-toggle="collapse" data-bs-target="#collapsetwo"
                                                aria-expanded="true" aria-controls="collapsetwo">
                                                2. What should I do if I lose my password?
                                            </button>
                                        </h2>
                                        <div id="collapsetwo"
                                            class="accordion-collapse collapse bg-dark-custom text-light text-white-light rounded-0">
                                            <div class="accordion-body font-16 fw-400">
                                               You can click on the forgot password button on the login section and safely reset your password.
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- FAQ - Ends -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="logout-modal-container"></div>
    <!-- Query-modal-starts -->
    <div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content popup-modal p-1">
                <div class="modal-body pb-0">
                    <div class="d-flex justify-content-between align-items-center">
                        <img src="./icons/dubai-logo-small.svg" class="text-start img-theme" />
                        <button type="button" class="btn p-0" data-bs-dismiss="modal" aria-label="Close">
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" class="img-theme"
                                xmlns="http://www.w3.org/2000/svg">
                                <path d="M18 6L6 18M6 6l12 12" stroke="#FFFFFF" stroke-width="2" stroke-linecap="round"
                                    stroke-linejoin="round" />
                            </svg>
                        </button>
                    </div>
                    <div class="text-center" style="margin-top: -15px">
                        <img src="./icons/export-and-query.svg" alt="logo">
                        <p class="text-color-modal pt-2 font-14 my-2" id="modalMessage">
                            Your query has been successfully submitted. Thank you for reaching out.
                        </p>
                    </div>
                </div>
                <div class="modal-footer border-0 my-2">
                    <div class="d-flex justify-content-center w-100">
                        <button type="button" class="btn close w-50 f-14" data-bs-dismiss="modal">
                            Close
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Query-modal-ends -->
    <script src="./js/theme-switcher.js"></script>
</body>

</html>