<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content popup-modal p-4">
            <div class="modal-body text-center text-white pb-0">
                <div class="font-24">Confirm Logout</div>
                <p class="dark-black pt-2 font-16">
                    Are you sure you want to logout?
                </p>
            </div>
            <div class="modal-footer justify-content-between border-0">
                <div class="d-flex w-100">
                    <button type="button" class="btn btn-dark no-btn w-50 f-14 border-color text-white"
                        data-bs-dismiss="modal">
                        No
                    </button>
                    <button type="button" class="btn w-50 ms-2 yes-btn dark-blue-gradient text-white border-0 f-14">
                        Yes
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>