<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Profile Popup</title>
  <link href="./css/bootstrap.min.css" rel="stylesheet">
  <link href="./css/style.css" rel="stylesheet" />
  <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
    />
</head>
<body>
    <div class="popup-container pb-4">
      <nav class="navbar navbar-expand-lg header shadow-lg">
        <div class="box-header">
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
        </div>
        <div class="container-fluid">
            <div class="navbar-brand text-white m-0">
              <div class="dropdown nav-dropdown shadow-lg">
                <button 
                  class="btn text-white dropdown-btn dropdown-toggle wallet-left-btn" 
                  type="button" 
                  id="dropdownMenuButton" 
                  data-bs-toggle="dropdown" 
                  aria-expanded="false" 
                  data-bs-toggle="tooltip" 
                  data-bs-placement="bottom" 
                  title="Dubai Customes Service">
                  
                  <div class="icon-container">
                    <img src="./icons/icon48.png" class="nav-icon mb-1" alt="Logo"/>
                  </div>
                </button>
              </div>
            </div>
            <div class="middle-div">
                <p id="username" class="text-white font-regular m-0"></p>
            </div>
            <div class="dropdown">
                <button class="btn text-white dropdown-btn" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="fas fa-ellipsis-v"></i>
                </button>
                <ul class="dropdown-menu dropdown-menu-end p-1" aria-labelledby="dropdownMenuButton">
                    <li><a class="dropdown-item font-12" href="#"><i class="fa-solid fa-up-right-and-down-left-from-center me-2"></i>Expand Screen</a></li>
                    <li><a class="dropdown-item font-12" href="#" id="lock-wallet-btn" data-bs-toggle="modal" data-bs-target="#exampleModal"><i class="fa-solid fa-lock me-2"></i>Lock Wallet</a></li>
                </ul>
            </div>
        </div>
    </nav>
      
    <div class="wallet-info text-center">
      <p>
        <span id="balance" class="font-40 font-regular color">
          <span id="balance-loader"></span>
        </span>
      </p>
      <div class="address-container">
        <span id="address" class="font-regular wallet-address mt-2">N/A</span>
        <button id="copy-button" class="copy-button mt-15" aria-label="Copy Address">
            <i class="fas fa-copy"></i>
        </button>
        <span id="copy-message" class="copy-message mt-15">Copied!<span>
      </div>
      </div>  
      <div class="card bg-color text-white m-2 border-0">
        <div class="box-header">
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
        </div>
        <div class="card-body text-white">
          <h5 class="card-title">Start your journey with AED</h5>
          <h6 class="card-subtitle mb-3">Get started with bt adding some AED to your wallet.</h6>
          <a href="#" class="card-link wallet-link text-white">Buy AED</a>
        </div>
      </div>
    </div>
  <!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Are you sure you want to lock the wallet?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
        <button type="button" class="btn btn-primary">Yes</button>
      </div>
    </div>
  </div>
</div>

  <!-- Include the popup script -->
  <script src="popup.bundle.js"></script>
  <script src="./js/bootstrap.bundle.min.js"></script>
</body>
</html>
