<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Profile Popup</title>
  <link href="./css/bootstrap.min.css" rel="stylesheet">
  <link href="./css/style.css" rel="stylesheet" />
  <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
    />
</head>
<body>
    <div class="popup-container p-4 bg-color border-0">
      <nav class="navbar navbar-expand-lg">
          <div>
            <img src="./icons/user-icon.svg" class="user-icon">
            <span id="username" class="f-14 fw-600">Username</span>
          </div>
          <div class="dropdown">
            <button class="btn  ps-1 border-0" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
              <i class="fas fa-ellipsis-v" style="color: rgba(162, 162, 163, 1);"></i>
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <li><button id="expand-btn" class="dropdown-item btn font-12 text-white" href="#"><i class="fa-solid fa-up-right-and-down-left-from-center me-2"></i>Expand Screen</button></li>
              <li><button class="dropdown-item btn font-12 text-white" data-bs-toggle="modal" data-bs-target="#exampleModal" id ="lock-wallet-btn"><i class="fa-solid fa-lock ms-auto me-2"></i>Logout</button></li>
            </ul>
          </div>
      </nav>
    <div class="wallet-info mt-3">
      <div class="ps-3">
        <span id="balance" class="font-28 fw-600">
          <span id="balance-loader"></span>
        </span>
        <p>
        <span id="address" class="wallet-address light-black font-14">N/A</span>
        <button id="copy-button" class="copy-button" aria-label="Copy Address">
          <img src="./icons/copy.svg" class="pb-3">
        </button>
        <span id="copy-message" class="copy-message">Copied!<span>
        </p>
      </div>
      <div class="text-center">
        <img src="./icons/login-vector.svg" style="width: 60%;">
        <p class="font-regular font-24 mb-0 mt-3">Get started</p>
        <p class="f-14 dark-black">Get started with adding some AED
          <br>to your wallet</p>
        </div>
      <button id="login-bbtn" class="login-button mt-2 mb-3">Buy AED</button>
    </div> 
    </div>
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content popup-modal p-1 m-3">
        <div class="modal-body text-center  pb-0">
          <div class="font-20">Confirm Logout</div>
           <p class="dark-black font-14">Are you sure you want to logout?</p>
        </div>
        <div class="modal-footer justify-content-between border-0 p-1 mb-3">
          <div class="d-flex w-100">
            <button type="button" class="btn btn-dark w-50 f-14 border-color " data-bs-dismiss="modal">No</button>
            <button type="button" class="btn w-50 ms-2 yes-btn dark-blue-gradient border-0 f-14 text-white">Yes</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Include the popup script -->
  <!-- <script src="popup.bundle.js"></script> -->
  <script src="./js/bootstrap.bundle.min.js"></script>
</body>
</html>
