<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Profile Popup</title>
  <link href="./css/bootstrap.min.css" rel="stylesheet">
  <link href="./css/style.css" rel="stylesheet" />
</head>
<body>
    <div class="popup-container">
    <h2 class="wallet-text">Wallet Profile</h2>
    <div class="wallet-info">
      <p><strong>Username:</strong> <span id="username"></span></p>
      <p><strong>Account Address:</strong> <span id="address"></span></p>
      <p class="balance">
        <strong>Balance:</strong> 
        <span id="balance">
          <span id="balance-loader"></span> <!-- Loader will be shown here initially -->
        </span>
      </p>
      <button id="lock-wallet-btn">Lock Wallet</button>
    </div>
  </div>

  <!-- Include the popup script -->
  <script src="popup.bundle.js"></script>
  <script src="./js/bootstrap.bundle.min.js"></script>
</body>
</html>
