<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Settings</title>
    <link href="./css/bootstrap.min.css" rel="stylesheet" />
    <link id="theme-stylesheet" href="./css/style.css" rel="stylesheet" />
    <link
        href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900&display=swap"
        rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" />
    <style>
        /* Custom styling for the activity loader */
        #activities-loader {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            margin-top: 20px;
        }

        #activities-loader .spinner-border {
            margin-bottom: 10px;
        }
    </style>
</head>

<body>
    <div id="full-screen-loader" style="display: none;">
        <div class="spinner-border text-light" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
    </div>
    <div class="container-fluid p-0">
        <div class="row g-0">
            <div class="col-lg-2 col-12">
                <div class="sidebar sticky-lg-top min-vh-100 custom-border-color">
                    <div class="row g-0">
                        <div class="col-lg-12 col-12">
                            <a class="navbar-brand m-0">
                                <img src="./icons/logo-dark.svg" class="img-fluid logo img-theme" />
                            </a>
                            <hr class="border-0">
                            <ul class="nav flex-column siderbar-nav">
                                <li class="nav-item">
                                    <a class="nav-link" aria-current="page" href="profile.html">
                                        <div>
                                            <img src="./icons/dashboard-icon.svg" alt="" class="img-fluid me-2 img-theme">
                                            Dashboard
                                        </div>

                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="transactions.html">
                                        <div>
                                            <img src="./icons/transitions-icon.svg" alt="" class="img-fluid me-2 img-theme">
                                            Transactions
                                        </div>
                                        <div>
                                            <img src="./icons/menu-active-arrow.svg" alt="" class="img-fluid">
                                        </div>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="connectedSites.html">
                                        <div>
                                            <img src="./icons/connected-sites-icon.svg" alt="" class="img-fluid me-2 img-theme">
                                            Linked Sites
                                        </div>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link active" href="settings.html">
                                        <div>
                                            <img src="./icons/settings-icon.svg" alt="" class="img-fluid me-2 img-theme">
                                            Settings
                                        </div>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="help.html">
                                        <div>
                                            <img src="./icons/help-icon.svg" alt="" class="img-fluid me-2 img-theme">
                                            Help
                                        </div>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-10 col-12">
                <nav class="navbar navbar-expand-sm header custom-border-color">
                    <div class="container-fluid z-2">
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav me-auto me-auto mb-2 mb-sm-0">
                                <li class="nav-item">

                                </li>
                            </ul>
                            <div>
                                <div class="card border border-dashed rounded me-3 p-0 bg-transparent text-white text-white-light">
									<div class="card-body p-2">
										<div class="d-flex align-items-center">
											<div class="ms-2">
												<storng class="font-16 text-white text-white-light">Wallet ID</storng>
												<span id="wallet-address"
													class="ms-3 font-14 text-gray-600 text-truncate text-gray-light-600"></span>
											</div>
											<div class="ms-5">
												<a href="#" id="copy-button">
													<img src="./icons/copy-icon.svg" alt="" class="img-fluid img-theme">
												</a>
												<span id="copy-message" style="display: none;" class="font-12 text-color-cs">Copied!</span>
											</div>
										</div>
									</div>
								</div>
                            </div>
                            <div class="d-flex align-items-center right-nav ps-4">
								<div class="dropdown">
									<i class="fa-duotone fa-solid fa-user user-icon"></i>
									<button class="btn text-white text-white-light ps-1 border-0" type="button" id="dropdownMenuButton1"
										data-bs-toggle="dropdown" aria-expanded="false">
										<div class="d-flex">
											<div class="text-start">
												<p id="username" class="f-14 mb-0">Username</p>
												<span class="font-12 text-color-cs" id="email"></span>
											</div>
											<i class="fas fa-chevron-down ms-2 mt-2" style="font-size: 10px;"></i>
										</div>
									</button>
									<ul class="dropdown-menu ms-4" aria-labelledby="dropdownMenuButton1">
										<li>
											<button class="dropdown-item btn text-white text-white-light font-14" data-bs-toggle="modal"
												data-bs-target="#exampleModal" id="lock-wallet-btn">
												<i class="fa-solid fa-lock ms-auto me-2"></i>Logout
											</button>
										</li>
									</ul>
								</div>
							</div>
                        </div>
                    </div>
                </nav>
                <div class="main-container p-4">
                    <!--begin::Row-->
                    <div class="row g-3">
                        <div class="col-12">
                            <!-- Heading -->
                            <h1 class="text-white text-white-light mb-3 text-start font-24 font-regular">Settings</h1>
                            <!-- Theme-container-start -->
                            <div class="p-3 custom-border-color bg-dark-custom rounded-3">
                                <h1 class="text-white text-white-light text-start font-20 font-regular">Theme</h1>
                                <div class="mt-3">
                                    <p class="font-16 fw-400">Switch between Light and Dark themes for a personalized
                                        experience. The Light
                                        theme keeps the interface bright and clear, while the Dark theme reduces eye
                                        strain in low-light conditions.</p>
                                </div>
                                <div class="row d-flex mt-2">
                                    <div class="card col-3 p-0 bg-color m-2 rounded-3">
                                        <div class="bg-color text-center p-4 rounded-top-3">
                                            <img class="card-img-top" src="./icons/Light-theme.svg">
                                        </div>
                                        <div class="radio-background p-2 card-body rounded-bottom-3 d-flex">
                                            <input type="radio" name="theme" id="light-theme" value="light">
                                            <label for="light-theme" class="text-light ms-3 font-16">Light Theme</label>
                                        </div>
                                    </div>
                                    <div class="card col-3 p-0 bg-color m-2 rounded-3">
                                        <div class="bg-color text-center p-4 rounded-top-3">
                                            <img class="card-img-top" src="./icons/Dark-theme.svg">
                                        </div>
                                        <div class="radio-background card-body p-2 rounded-bottom-3 d-flex">
                                            <input type="radio" name="theme" id="dark-theme" value="dark">
                                            <label for="dark-theme" class="text-light font-16 ms-3">Dark Theme</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Theme-container-end -->
                            <!-- Notification-Start -->
                            <div class="p-3 custom-border-color bg-dark-custom rounded-3 mt-4">
                                <h1 class="text-white text-white-light text-start font-20 font-regular">Notification
                                </h1>
                                <div class="mt-3">
                                    <p class="font-16 fw-400">Stay in the loop on what’s happening in your wallet with
                                        notifications. To use notifications, we use a profile to sync some settings
                                        across your devices. Learn how we protect your privacy while using this feature.
                                    </p>
                                </div>
                                <div class="mt-4 d-flex justify-content-between">
                                    <h1 class="text-white text-white-light font-16 fw-400">Allow Notification</h1>
                                    <div class="form-check form-switch font-20">
                                        <input class="form-check-input" type="checkbox" id="toggleSwitch">
                                        <label class="form-check-label" for="toggleSwitch" id="switchLabel"></label>
                                    </div>
                                </div>
                            </div>
                            <!-- Notification-Ends -->
                            <!-- Profile-Starts -->
                            <div class="p-3 custom-border-color bg-dark-custom rounded-3 mt-4">
                                <h1 class="text-white text-white-light text-start font-20 font-regular">Profile</h1>
                                <div class="mt-3">
                                    <p class="font-16 fw-400">Manage profile settings to keep information up to date.
                                        Update personal details, change the profile picture, and adjust preferences for
                                        a more customized experience.
                                    </p>
                                </div>
                                <div class="mt-4">
                                    <h1 class="font-16 fw-400 text-start mb-4">Choose your avatar</h1>
                                    <div class="parent d-flex align-items-center justify-content-around">
                                        <img src="./icons/logo-1.svg" alt="emoji" class="img-fluid rounded-circle" data-id="1"/>
                                        <img src="./icons/logo-2.svg" alt="emoji" class="img-fluid rounded-circle" data-id="2"/>
                                        <img src="./icons/logo-3.svg" alt="emoji" class="img-fluid rounded-circle" data-id="3"/>
                                        <img src="./icons/logo-4.svg" alt="emoji" class="img-fluid rounded-circle" data-id="4"/>
                                        <img src="./icons/logo-5.svg" alt="emoji" class="img-fluid rounded-circle" data-id="5"/>
                                        <img src="./icons/logo-6.svg" alt="emoji" class="img-fluid rounded-circle" data-id="6"/>
                                    </div>
                                    <div class="font-16 fw-400 mt-5">
                                        <label for="name" class="text-light text-white-light">Name</label>
                                        <input type="text" id="name" name="name" placeholder="Enter your name"
                                            class="bg-color text-light text-white-light custom-border-color px-2">
                                        <label for="email" class="mt-3 text-light text-white-light">Email</label>
                                        <input type="email" id="email" name="email" placeholder="Enter your email"
                                            class="bg-color text-light text-white-light custom-border-color px-2">
                                    </div>
                                </div>
                            </div>
                            <!-- Profile-Ends -->
                            <!-- About-Starts -->
                            <div class="p-3 custom-border-color bg-dark-custom rounded-3 mt-4">
                                <h1 class="text-white text-white-light text-start font-20 font-regular">About</h1>
                                <div class="mt-3">
                                    <p class="font-16 fw-400">MetaMask Version<br>12.11.0</p>
                                    <br>
                                    <p class="font-16 fw-400">MetaMask is designed and built around the world.</p>
                                    <br>
                                    <ul class="list-unstyled d-flex flex-column align-items-start font-16 font-regular">
                                        <li class="font-16 fw-400">Links</li>
                                        <li><a href="#" class="btn text-color-link p-0">Privacy Policy</a></li>
                                        <li><a href="#" class="btn text-color-link p-0">Terms of Use</a></li>
                                        <li><a href="#" class="btn text-color-link p-0">Visit Our Website</a></li>
                                        <li><a href="#" class="btn text-color-link p-0">Contact Us</a></li>
                                    </ul>
                                </div>
                            </div>
                            <!-- About-Ends -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content popup-modal p-4">
                <div class="modal-body text-center text-white pb-0">
                    <div class="font-24">Confirm Logout</div>
                    <p class="dark-black pt-2 font-16">
                        Are you sure you want to logout?
                    </p>
                </div>
                <div class="modal-footer justify-content-between border-0">
                    <div class="d-flex w-100">
                        <button type="button" class="btn btn-dark no-btn w-50 f-14 border-color text-white"
                            data-bs-dismiss="modal">
                            No
                        </button>
                        <button type="button" class="btn w-50 ms-2 yes-btn dark-blue-gradient text-white border-0 f-14">
                            Yes
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="./js/bootstrap.bundle.min.js"></script>
    <script src="./js/theme-switcher.js"></script>
</body>

</html>