<div class="sidebar sticky-lg-top min-vh-100 custom-border-color">
    <div class="row g-0">
        <div class="col-lg-12 col-12">
            <a class="navbar-brand m-0">
                <img src="./icons/logo-dark.svg" class="img-fluid logo img-theme"/>
            </a>
            <hr class="border-0">
            <ul class="nav flex-column siderbar-nav">
                <li class="nav-item">
                    <a id="dashboard-link" class="nav-link" aria-current="page" href="profile.html">
                        <div>
                            <img src="./icons/dashboard-icon.svg" alt="" class="img-fluid me-2 img-theme">
                            Dashboard
                        </div>
                        <div class="arrow-icon">
                            <img src="./icons/menu-active-arrow.svg" alt="" class="img-fluid">
                        </div>
                    </a>
                </li>
                <li class="nav-item">
                    <a id="transactions-link" class="nav-link" href="transactions.html">
                        <div>
                            <img src="./icons/transitions-icon.svg" alt="" class="img-fluid me-2 img-theme">
                            Transactions
                        </div>
                        <div class="arrow-icon">
                            <img src="./icons/menu-active-arrow.svg" alt="" class="img-fluid">
                        </div>
                    </a>
                </li>
                <li class="nav-item">
                    <a id="linked-sites-link" class="nav-link" href="connectedSites.html">
                        <div>
                            <img src="./icons/connected-sites-icon.svg" alt="" class="img-fluid me-2 img-theme">
                            Linked Sites
                        </div>
                        <div class="arrow-icon">
                            <img src="./icons/menu-active-arrow.svg" alt="" class="img-fluid">
                        </div>
                    </a>
                </li>
                <li class="nav-item">
                    <a id="settings-link"  class="nav-link" href="settings.html">
                        <div>
                            <img src="./icons/settings-icon.svg" alt=""
                                class="img-fluid me-2 img-theme">
                            Settings
                        </div>
                        <div class="arrow-icon">
                            <img src="./icons/menu-active-arrow.svg" alt="" class="img-fluid">
                        </div>
                    </a>
                </li>
                <li class="nav-item">
                    <a id="help-link" class="nav-link" href="help.html">
                        <div>
                            <img src="./icons/help-icon.svg" alt=""
                                class="img-fluid me-2 img-theme">
                            Help
                        </div>
                        <div class="arrow-icon">
                            <img src="./icons/menu-active-arrow.svg" alt="" class="img-fluid">
                        </div>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
