<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Transitions</title>
    <link href="./css/bootstrap.min.css" rel="stylesheet" />
    <link href="./css/style.css" rel="stylesheet" />
    <link
        href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900&display=swap"
        rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" />
    <style>
        /* Custom styling for the activity loader */
        #activities-loader {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            margin-top: 20px;
        }

        #activities-loader .spinner-border {
            margin-bottom: 10px;
        }
    </style>
</head>

<body>
    <div class="container-fluid p-0">
        <div class="row g-0">
            <div class="col-lg-2 col-12">
                <div class="sidebar sticky-lg-top h-100 custom-border-color">
                    <div class="row g-0">
                        <div class="col-lg-12 col-12">
                            <a class="navbar-brand m-0">
                                <img src="./icons/logo-dark.svg" class="img-fluid logo" />
                            </a>
                            <hr class="custom-border-color">
                            <ul class="nav flex-column siderbar-nav">
                                <li class="nav-item">
                                    <a class="nav-link" aria-current="page" href="profile.html">
                                        <div>
                                            <img src="./icons/dashboard-icon.svg" alt="" class="img-fluid me-2">
                                            Dashboard
                                        </div>
                                        
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link active" href="transactions.html">
                                        <div>
                                            <img src="./icons/transitions-icon.svg" alt="" class="img-fluid me-2">
                                            Transactions
                                        </div>
                                        <div>
                                            <img src="./icons/menu-active-arrow.svg" alt="" class="img-fluid">
                                        </div>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="connectedSites.html">
                                        <div>
                                            <img src="./icons/connected-sites-icon.svg" alt="" class="img-fluid me-2">
                                            Linked Sites
                                        </div>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">
                                        <div>
                                            <img src="./icons/settings-icon.svg" alt="" class="img-fluid me-2">
                                            Settings
                                        </div>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">
                                        <div>
                                            <img src="./icons/help-icon.svg" alt="" class="img-fluid me-2">
                                            Help
                                        </div>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-10 col-12">
                <nav class="navbar navbar-expand-sm header custom-border-color">
                    <div class="container-fluid z-2">
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav me-auto me-auto mb-2 mb-sm-0">
                                <li class="nav-item">

                                </li>
                            </ul>
                            <div>
                                <div class="card border border-dashed rounded me-3 p-0 bg-transparent text-white">
                                    <div class="card-body p-2">
                                        <div class="d-flex align-items-center">
                                            <div class="ms-2">
                                                <storng class="font-16">Wallet ID</storng>
                                                <span id="wallet-address"
                                                    class="ms-3 font-14 text-gray-600 text-truncate">stru23421fwewri554...</span>
                                            </div>
                                            <div class="ms-5">
                                                <a href="#" id="copy-button">
                                                    <img src="./icons/copy-icon.svg" alt="" class="img-fluid">
                                                </a>
                                                <span id="copy-message" style="display: none;" class="font-12 text-color-cs">Copied!</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="d-flex align-items-center right-nav ps-4">
                                <div class="dropdown">
                                    <i class="fa-duotone fa-solid fa-user user-icon"></i>
                                    <button class="btn text-white ps-1 border-0" type="button" id="dropdownMenuButton1"
                                        data-bs-toggle="dropdown" aria-expanded="false">
                                        <div class="d-flex">
                                            <div class="text-start">
                                                <p id="username" class="f-14 mb-0">Username</p>
                                                <span class="font-12 text-color-cs" id="email"></span>
                                            </div>
                                            <i class="fas fa-chevron-down ms-2 mt-2" style="font-size: 10px;"></i>
                                        </div>
                                    </button>
                                    <ul class="dropdown-menu ms-4" aria-labelledby="dropdownMenuButton1">
                                        <li>
                                            <button class="dropdown-item btn text-white font-14" data-bs-toggle="modal"
                                                data-bs-target="#exampleModal" id="lock-wallet-btn">
                                                <i class="fa-solid fa-lock ms-auto me-2"></i>Logout
                                            </button>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </nav>
                <div class="main-container p-4">
                    <!--begin::Row-->
                    <div class="row g-3">
                        <div class="col-12">
                            <!-- Heading -->
                            <h1 class="text-white mb-3 text-start font-24 font-regular">Transactions</h1>
                            <div class="d-flex justify-content-start align-items-center mb-3">
                                <div class="input-group">
                                    <div class="dropdown">
                                        <button class="btn btn-dark border-dark dropdown-toggle bg-color-button font-14"
                                            type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown"
                                            aria-expanded="false">
                                            Last 7 days
                                        </button>
                                    </div>
                                    <div class="d-flex align-items-center ms-4">
                                        <button
                                            class="btn text-white border-right-0 rounded-end-0 bg-color-button font-14">All
                                            25</button>
                                        <button class="btn custom-btn rounded-start-0 rounded-end-0 font-14">Successful
                                            35</button>
                                        <button class="btn custom-btn border-left-0 rounded-start-0 font-14">Failed
                                            05</button>
                                    </div>
                                </div>
                                <div class="dropdown">
                                    <a href="#"
                                        class="btn btn-dark ms-auto d-flex align-items-center bg-transparent font-14 custom-btn dropdown-toggle"
                                        data-bs-toggle="dropdown" aria-expanded="false">
                                        <img src="./icons/download.png" alt="" class="img-fluid me-1"> Download
                                        <i class="fas fa-chevron-down ms-2 me-3 text-color-cs"></i>
                                    </a>
                                    <ul class="dropdown-menu font-14 custom-btn">
                                        <li><a class="dropdown-item text-color-cs my-2" href="#">Current Month</a></li>
                                        <li><a class="dropdown-item text-color-cs my-2" href="#">Last 3 Months</a></li>
                                        <li><a class="dropdown-item text-color-cs my-2" href="#">Last 6 Months</a></li>
                                        <li><a class="dropdown-item text-color-cs my-2" href="#">2024</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="table-responsive">
                                <table
                                    class="table table-dark custom-table align-middle font-medium text-sm full-width-table text-start text-nowrap">
                                    <thead>
                                        <tr>
                                            <th class="px-3 font-14 text-white">TYPE</th>
                                            <th class="px-3 font-14 text-white">AMOUNT</th>
                                            <th class="px-1 font-14 text-white">STATUS</th>
                                            <th class="px-3 font-14 text-white">METHOD</th>
                                            <th class="px-3 font-14 text-white">DEPARTMENT</th>
                                            <th class="px-3 font-14 text-white">DATE</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr class="border-bottom">
                                            <td>
                                                <span class="d-flex align-items-center">
                                                    <div>
                                                        <img src="./icons/type-icon-in-transaction.svg" alt=""
                                                            class="img-fluid type-img">
                                                    </div>
                                                    <div class="ms-2">
                                                        <p class="text-truncate font-12 mb-2">
                                                            5txyz0ge653gh...</p>
                                                        <span class="text-gray-600 font-12">From:
                                                        </span>
                                                    </div>
                                                </span>
                                            </td>
                                            <td class="text-danger px-3">- AED 2,555.00</td>
                                            <td class="px-3">
                                                <div class="position-relative">
                                                    <span class="span-danger"></span> Failed
                                                </div>
                                            </td>
                                            <td class="px-3">
                                                <p class="mb-2">Wallet Transfer</p>
                                                <span class="text-truncate text-gray-600 font-12">set35428djd...</span>
                                            </td>
                                            <td class="px-3">
                                                <div class="d-flex align-items-center">
                                                    <span class="status-indicator span-department"></span>
                                                    Warehouse Booking
                                                </div>

                                            </td>
                                            <td class="px-3"><span class="text-truncate font-12">12/25/2024,
                                                    12:25:56 PM</span></td>
                                        </tr>
                                        <tr class="border-bottom">
                                            <td>
                                                <span class="d-flex align-items-center">
                                                    <div>
                                                        <img src="./icons/type-icon-out-transaction.svg" alt=""
                                                            class="img-fluid type-img">
                                                    </div>
                                                    <div class="ms-2">
                                                        <p class="text-truncate font-12 mb-2">
                                                            5txyz0ge653gh...</p>
                                                        <span class="text-gray-600 font-12">To:
                                                        </span>
                                                    </div>
                                                </span>
                                            </td>
                                            <td class="text-danger px-3">- AED 2,555.00</td>
                                            <td class="px-3">
                                                <div class="position-relative">
                                                    <span class="span-danger"></span> Failed
                                                </div>
                                            </td>
                                            <td class="px-3">
                                                <p class="mb-2">Wallet Transfer</p>
                                                <span class="text-truncate text-gray-600 font-12">set35428djd...</span>
                                            </td>
                                            <td class="px-3">
                                                <div class="d-flex align-items-center">
                                                    <span class="status-indicator span-department"></span>
                                                    Warehouse Booking
                                                </div>

                                            </td>
                                            <td class="px-3"><span class="text-truncate font-12">12/25/2024,
                                                    12:25:56 PM</span></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <!--begin::Pagination-->
                            <nav class="d-flex justify-content-end">
                                <ul class="pagination d-inline-flex custom-border-color rounded p-2">
                                    <li class="page-item"><a href="#" class="page-link fa fa-chevron-left mr-1 font-14 border-0"></a>
                                    </li>
                                    <li class="page-item">
                                        <a class="page-link font-12 border-0 rounded" href="#" tabindex="-1">First</a>
                                    </li>
                                    <li class="page-item"><a class="page-link font-12 mx-1 border-0 bg-color-pagination rounded" href="#">1</a></li>
                                    <li class="page-item"><a class="page-link font-12 mx-1 border-0 bg-color-pagination rounded" href="#">2</a></li>
                                    <li class="page-item"><a class="page-link font-12 mx-1 border-0 bg-color-pagination rounded" href="#">3</a></li>
                                    <li class="page-item"><a class="page-link font-12 mx-1 border-0 bg-color-pagination rounded" href="#">4</a></li>
                                    <li class="page-item"><a class="page-link font-12 mx-1 border-0 bg-color-pagination rounded" href="#">5</a></li>
                                    <li class="page-item"><a class="page-link font-12 mx-1 border-0 bg-color-pagination rounded" href="#">...</a></li>
                                    <li class="page-item"><a class="page-link font-12 mx-1 border-0 bg-color-pagination rounded" href="#">22</a></li>
                                    <li class="page-item">
                                        <a class="page-link font-12 border-0 rounded" href="#">Last</a>
                                    </li>
                                    <li class="page-item"><a href="#" class="page-link fa fa-chevron-right font-14 border-0"></a></li>
                                </ul>
                            </nav>
                            <!--end:: Pagination-->
                        </div>
                    </div>
                    <!--end::Row-->
                </div>
            </div>
        </div>

        <!-- End Admin Panel -->
        <div class="container-fluid p-0">
        </div>
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content popup-modal p-4">
                    <div class="modal-body text-center text-white pb-0">
                        <div class="font-24">Confirm Logout</div>
                        <p class="dark-black pt-2 font-16">
                            Are you sure you want to logout?
                        </p>
                    </div>
                    <div class="modal-footer justify-content-between border-0">
                        <div class="d-flex w-100">
                            <button type="button" class="btn btn-dark w-50 f-14 border-color text-white"
                                data-bs-dismiss="modal">
                                No
                            </button>
                            <button type="button"
                                class="btn w-50 ms-2 yes-btn dark-blue-gradient text-white border-0 f-14">
                                Yes
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- <script src="profile.bundle.js"></script> -->
        <script src="./js/bootstrap.bundle.min.js"></script>
</body>

</html>