<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Welcome to Dubai Customs Wallet</title>
    <link href="./css/bootstrap.min.css" rel="stylesheet" />
    <link href="./css/style.css" rel="stylesheet" />
</head>
<body>
    <div class="wrapper">
        <div class="container-fluid d-flex flex-column justify-content-center align-items-center min-vh-100 gap-2">
            <div class="logo text-center">
                <img class="logo-img" src="./icons/icon128.png" alt="Dubai Customs Wallet Logo" />
                <h1 class="text-white">Dubai Customs <span>Wallet</span></h1>
            </div>
            <h4 class="text-white">Simplified Blockchain <span style="color: #bb9753">Solutions</span></h4>
            <h4 class="text-white">Dubai Customs Blockchain Network with AED Token Support</h4>
            <button id="get-started-btn" class="btn btn-light text-black">Get Started →</button>
            <div class="box">
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
            </div>
        </div>
    </div>
    
    <script src="welcome.bundle.js"></script>
    <script src="./js/bootstrap.bundle.min.js"></script>
</body>
</html>
